Button {
-fx-background-color: floralwhite  ;
-fx-font-family:  "Georgia", "Serif","Times New Roman";
-fx-font-size: 12;
-fx-color:  #da8282;
}
AnchorPane {
-fx-background-size: 100%;
-fx-background-color: rgba(0, 0, 0, 0.2);
}
Label {
-fx-font-family: "Georgia", "Serif","Times New Roman";
-fx-font-size: 12;
}

.table-cell{
-fx-alignment: center;
}

ComboBox{
-fx-font-family:  "Georgia", "Serif","Times New Roman";
-fx-font-size: 12;
-fx-background-color: floralwhite;
-fx-background-blend-mode: lighten;
}

TextField{
-fx-font-family:  "Georgia", "Serif","Times New Roman";
-fx-font-size: 12;
-fx-background-color: floralwhite;
-fx-background-blend-mode: lighten;
}

PasswordField{
-fx-font-family:  "Georgia", "Serif","Times New Roman";
-fx-font-size: 12;
-fx-background-color: floralwhite;
-fx-background-blend-mode: lighten;

}
.tab-content-area
{
-fx-background-color: -fx-control-inner-background;
-fx-padding: 0.0em; /* 0 */

}