/*Thi Binh Minh Cao DAT16i*/
Button {
-fx-background-color: #003333 ;
-fx-font-family:  "Georgia", "Serif","Times New Roman";
-fx-font-size: 14;
-fx-color:  #da8282;
-fx-text-fill :floralwhite;

}
AnchorPane {
-fx-background-image: url("..//Images//background.jpg");
-fx-background-size: 100%;
-fx-background-color: rgba(0, 0, 0, 0.2);
}
Label {
-fx-font-family: "Georgia", "Serif","Times New Roman";
-fx-font-size: 14;
-fx-text-fill: floralwhite;
}
Text {
-fx-color:floralwhite;
}

.table-cell{
-fx-alignment: center;
-fx-color:floralwhite;
}

.table-view .column-header {
-fx-background-color: #008080;
-fx-opacity: 0.75;
}


ComboBox{
-fx-font-family:  "Georgia", "Serif","Times New Roman";
-fx-font-size: 12;
-fx-background-color: floralwhite;
-fx-background-blend-mode: lighten;
-fx-opacity: 0.9;
}

TextField{
-fx-font-family:  "Georgia", "Serif","Times New Roman";
-fx-font-size: 12;
-fx-background-color: floralwhite;
-fx-background-blend-mode: lighten;
-fx-opacity:0.9;
}

PasswordField{
-fx-font-family:  "Georgia", "Serif","Times New Roman";
-fx-font-size: 12;
-fx-background-color: floralwhite;
-fx-background-blend-mode: lighten;
-fx-opacity:0.9;
}
.tab {
  -fx-font-family: Arial;
  -fx-font-size: 18;
  -fx-background-color: #006666 ;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0.25;
    -fx-background-color: 	#008080;
}
.tab:selected {
    -fx-background-color-moz-radial-gradient(center, ellipse cover, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
    -fx-border-color: floralwhite;
}

.dialog-pane:header .header-panel {
  -fx-background-color: #00b3b3;
}


.dialog-pane:header .header-panel .label{

  -fx-background-radius:10px;
  -fx-text-fill:floralwhite;
  -fx-font-size:15.0px;
   -fx-opacity: 0.75;
}


.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-background-color: #008080;
   -fx-text-fill: floralwhite;
   -fx-font-size: 15.0px;

}

.dialog-pane > .button-bar > .container{

 -fx-background-color: #004d4d;

}
.dialog-pane > .button-bar > .button{

-fx-background-color: #008080;
}